<!--
This is the view that gets rendered when '/todos' gets requested
-->
<h1>Listing all Todos</h1>

<p>
  <!-- Link to '/todos/new' -->
  <%= link_to "Create a Todo", new_todo_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <!-- Iterates through an array of all of todos saved in the database and displays them in a tabular format -->
  <% @todos.each do |todo| %>
  <tr>
    <!-- Display Todo name -->
    <td><%= todo.name %></td>
    <!-- Display Todo description -->
    <td><%= todo.description %></td>
    <!-- Link to '/todos/:id/edit' -->
    <td><%= link_to "Edit", edit_todo_path(todo) %></td>
    <!-- Link to '/todos/:id/show' -->
    <td><%= link_to "Show", todo_path(todo) %></td>
  </tr>
  <% end %>
</table>
