<!DOCTYPE html>
<html>
<!-- This is the views layout template that is used across the web application -->
  <head>
    <title>Todoapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Render flash messages from partial -->
    <%= render "layouts/messages" %>
    <!-- All other views will be rendered by the yield tag -->
    <%= yield %>
  </body>
</html>
